body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;
}
#content,
footer {
  padding: 0 15px;
}
#logo {
  text-align: center;
}
header {
  background-color: #263248;
}
header h1 {
  margin: 0;
}
header h1 a {
  color: #fff;
  text-decoration: none;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
nav ul li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
nav ul li a {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
}
section img {
  width: 100%;
  height: auto;
}
.left-float {
  float: left;
  padding: 0 15px 15px 0;
  width: 50%;
}
input[type="text"],
input[type="email"] {
  padding: 5px;
  font-size: 1.2rem;
}
footer {
  border-top: 1px solid #ccc;
  margin: 20px 10px 10px 0;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}
